<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>محتوى الكورس</title>
  <link rel="stylesheet" href="pdf.css">
  <link rel="stylesheet" href="/home/Course.css">
  <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="header"></div>

  <div id="pdf-title"></div>
  <div id="pdf-box"></div>
  <div class="contant"></div>

  <div id="footer"></div>
  <script src="/header/header.js"></script>
<script src="./pdf.js"></script>
</body>
</html>
