<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>محتوى الكورس</title>
  <link rel="stylesheet" href="pdf.css">
  <link rel="stylesheet" href="/home/Course.css">
  <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="header"></div>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">خطأ</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.history.back();" >اغلاق</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <div id="pdf-title"></div>
  <div id="pdf-box"></div>
  <div class="contant"></div>

  <div id="footer"></div>
  <script src="/header/header.js"></script>
<script src="./pdf.js"></script>
</body>
</html>
