<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8" />
  <title>اختبار</title>
  <link rel="stylesheet" href="quiz.css" />
</head>
<body>
  <div id="header"></div>

      <div class="quiz-app">
        <div class="quiz-info">
          <!-- <div class="category">Category: <span>HTML</span></div> -->
          <div class="count"> عدد الاسإلة: <span></span></div>
        </div>
        <div class="quiz-area"></div>
        <div class="answers-area"></div>
   
        <button class="submit-button">التالي </button>
        <div class="bullets">
          <div class="spans"></div>
          <div class="countdown"></div>
        </div>
        <div class="results"></div>
      </div>

  
  <div id="footer"></div>
  <script src="quiz.js"></script>
  <script src="/header/header.js"></script>
</body>
</html>
